*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}


@keyframes done{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.5, 1.5);
        background-color: lightgreen;
        opacity: 0.5;
    }
    100%{
        transform: scale(0.8, 0.8);
    }
}

.main{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,07) 100%);
    background-size: cover;
    height: auto !important;
    min-height: 100vh;
}
.title{
    letter-spacing: 5px;
}
.title-container{
    width: 100%;
    text-align: center;
}


body{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,07) 100%);
background-repeat: no-repeat;
background-size: cover;

}

.task{
    transition: 2s;
    border: solid 1px rgb(255, 255, 255, 0.5);
    width: 90%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgb(255, 255, 255, 0.30);
    border-radius: 15px;
    margin: 10px auto;
    padding: 15px;
    box-shadow: 9px 16px 35px 4px rgba(35,35,35,0.12);
-webkit-box-shadow: 9px 16px 35px 4px rgba(35,35,35,0.12);
-moz-box-shadow: 9px 16px 35px 4px rgba(35,35,35,0.12);

}

.True{
    background-color: lightgreen;
    opacity: 0.5;
    backdrop-filter: blur(5px);

}

.task-top{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.task-title{
    font-size: 30px;
    font-family: "Nunito",sans-serif;
}
.done{
    color: green;
    transition: 0.2s;

}


.done:hover{
    cursor: pointer;
    transform: translate(0px, -3px);
    transition: 0.2s;
    font-weight: 600;
}

.notdone{
    color: red;
    transition: 0.2s;
}
.notdone:hover{
    cursor: pointer;
    transform: translate(0px, -3px);
    transition: 0.2s;
    font-weight: 600;
}

.tasks-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.material-symbols-outlined {
    font-size:35px;
    padding: 0 15px;
    
}

.task-bottom{
    padding: 15px;
    font-size: 25px;
    font-family: "Nunito", sans-serif;

}

.task-done{
    background-color: green;
}

.new-task-container{
    width: 100vw;
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
    height: 40vh;
    display: none;
    text-align: center;
}
.new-task-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text], textarea{
    width: 80%;
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    outline: none;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgb(255, 255, 255, 0.3);
}

input[type=text]:active,input[type=text]:focus, textarea:focus{
    -webkit-box-shadow: -8px 10px 0px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 0px -1px rgba(0,0,0,0.75);
box-shadow: -8px 10px 0px -1px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.task-des-form{
    min-height: 80%;
    line-height: 1.5rem;
}

input[type=submit]{
    width: 20%;
    transition: 0.5s;

    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: lightcyan;
    border: 1px solid rgb(255, 255, 255, 0.3);
}
input[type=submit]:hover{
    -webkit-box-shadow: -8px 10px 0px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 0px -1px rgba(0,0,0,0.75);
box-shadow: -8px 10px 0px -1px rgba(0,0,0,0.75);
    transition: 0.5s;
    cursor: pointer;
}

.new-task-button-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.new-task-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.3);

}

.new-task-button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);

}

@media only screen and (max-width:600px) {


    .tasks-container{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-flow: column;

    }

    .task{
        width: 90%;
        background: rgb(255, 255, 255, 0.30);
        border-radius: 15px;
        margin: 5px auto;
        padding: 5px;
        text-align: center;
        overflow: scroll;
        transition: 0.2s;
    }

    input[type=submit]{
        width: 150%;
    }
    input[type=text], textarea{
        width: 150%;
        padding: 10px;
        margin: 10px;
        font-size: 1.5rem;
    }
    .new-task-container{
        margin: 55px;
    }

        .new-task-form{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px;
            text-align: center;
        }
.task-bottom{
    padding: 5px;
}
    .task-top{
        padding: 5px;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .True{
        background-color: lightgreen;
        opacity: 0.5;
        backdrop-filter: blur(5px);
    }

    .False{
        background-color: black;
    }
}